#titre {
    text-align: center;
    color: black;
}

body {
    background-color: black !important;
}

html {
    background-color: black;
    color: black;
    height: 100%;
}

.jumbotron a:hover {
    color: blueviolet;
    font-style: italic;
}

.jumbotron h3{
    color: white;
}

a{
    font: italic;
}


footer{
    position: fixed;
    bottom: 0px;
    color : gray;
}

footer:a {
    color: purple;
}


.jumbotron {
    border: 2px solid white;
    background-color: transparent !important;
    text-align: center;
    color : white
}